<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% load socialaccount %}
    <h1 style="text-align: center">EcoBuddy</h1>
    {% if user.is_authenticated %}
    <p>Welcome. You are logged in as {{user.username}}</p>
    {% if user.is_superuser %}
    <p>You have admin privileges.</p>
    {% endif %}
    <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}
  </body>
</html>
